---
import Layout from "../layouts/Layout.astro";
import Count from "../components/Count.vue"
---

<Layout title="Welcome to Astro.">
  <main>    
    <p>My astro site</p>
    <Count client:load/>
  </main>
</Layout>
